<div class="grid-container">
  <div class="top-tab grid-item" aria-label="Fish selection">
    <a class="home-btn" routerLink="/dashboard" routerLinkActive="active-link"
      ><mat-icon aria-hidden="false" fontIcon="school"></mat-icon
      >HeroeTutorial</a
    >
    <a class="mat-chip" routerLink="/table" routerLinkActive="active-link"
      >Tablas</a
    >
    <a class="mat-chip" routerLink="/form" routerLinkActive="active-link"
      >Formulario</a
    >
  </div>
  <router-outlet class="grid-item"></router-outlet>
</div>
