/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */
.div-form {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3vw 3vw;
  border-radius: 0.5vw;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

form {
  margin-top: 2vw;
}

.title {
  font-weight: 600;
  font-size: 1.3vw;
  text-align: center;
  color: rgb(221, 49, 92);
}

.form-btn {
  background-color: rgb(221, 49, 92);
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-rows: 2vh 1fr;
}

.grid-item {
  box-sizing: border-box;
}

/* Top Tab */
.top-tab {
  position: fixed;
  display: flex;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 187, 204);
  padding: 0.4rem 0vw;
  align-items: center;
  z-index: 5;
}

.active-link {
  background-color: rgb(252, 174, 194);
}

.mat-chip {
  background-color: rgb(255, 187, 204);
  color: rgb(218, 12, 64);
  padding: 0.5vw 0.7vw;
  border-radius: 2vw;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  display: flex;
  position: relative;
}

.mat-chip:hover {
  background-color: rgb(252, 174, 194);
}

.home-btn {
  background-color: rgb(255, 187, 204);
  color: rgb(218, 12, 64);
  padding: 0.5vw 0.7vw;
  padding-right: 0.9vw;
  border-radius: 2vw;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3vw;
}

.home-btn:hover {
  background-color: rgb(252, 174, 194);
}

.home-icon {
  display: flex;
  margin: 0;
  position: relative;
}

/* Tablita */
.table-div {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
  width: 97vw;
  z-index: 0;
}

.tablita {
  width: 100%;
}

.mat-header-cell {
  background-color: #3f51b5; /* Cambia este valor al color que desees */
  color: white; /* Opcional: cambiar el color del texto */
}

.active {
  color: rgb(31, 205, 138);
}

.inactive {
  color: rgb(205, 31, 43);
}
